.input-group {
  position: relative;
  top: 100px;
  left: 50px;
}
h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 50px;
  line-height: 48px;
  position: relative;
  top: 170px;
}
.sun {
  margin: 0;
  left: 50px;
  top: 50px;
  width: 400px;
  margin: 30px;
  padding: 30px;
}
h2,
h3 {
  text-align: center;
  font-weight: 500;
  margin: 0;
  font-size: 50px;
  line-height: 48px;
  position: relative;
  top: 150px;
}
.card-group {
  margin: 30px;
  padding: 0 auto;
  text-align: center;
}

footer {
  margin: 30px;
  padding: 0 auto;
  text-align: center;
}
