#city-search {
  margin: 30px;
  padding: 0 auto;
  text-align: center;
}
h1 {
  text-align: center;
  font-weight: 900;
  margin: 0;
  font-size: 50px;
  line-height: 48px;
  position: relative;
  top: 60px;
  color: black;
}
.sun {
  left: 50px;
  top: 30px;
  width: 200px;
  padding: 30px;
}
#city,
#date {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  font-weight: 500;
  position: relative;
  top: 30px;
  border: 1px solid white;
  border-radius: 10px;
  background: white;
}

.card-group {
  margin: 10px;
  padding: 0 auto;
  text-align: center;
}

footer {
  margin: 30px;
  padding: 0 auto;
  text-align: center;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
  background-color: rgb(254, 184, 196);
  box-shadow: 5px 30px 50px rgb(0 0 0 / 20%);
  border-radius: 14px;
  color: rgb(81, 78, 78);
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 14px;
}
ul {
  margin: 10px;
  padding: 0;
  position: relative;
}

li {
  display: inline-flex;
  line-height: 2.5em;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  vertical-align: center;
  position: relative;
  padding: 1px;
  margin: 2px;
  color: rgb(84, 100, 190);
  font-weight: 500;
}

#description {
  text-transform: capitalize;
}

.temperature-block {
  color: black;
  font-size: 55px;
  position: relative;
  font-weight: 500;
  line-height: 2;
  padding: 30px 10px;
}

#celsius-link,
#fahrenheit-link,
#border {
  color: black;
  font-size: 25px;
  color: black;
  position: relative;
  top: -30px;
}

.inactive {
  text-decoration: none;
  cursor: default;
}

.active {
  text-decoration: underline;
  cursor: pointer;
}
.weather-forecast-temperature {
  margin-top: 20px;
  color: black;
  text-align: center;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
  color: rgb(84, 100, 190);
}
body {
  background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/045/314/original/minimalist-nawpic-7.jpg?1662205798');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 1;
}
#location-input {
  background-color: rgb(56, 90, 185);
}
#search-input {
  background-color: #e16bb8;
}
